// Place all the styles related to the performances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tip {
      border: 2px solid black;
      width: 150px;
      position: absolute;
      visibility: hidden;
      background-color: white;
      padding: 10px;
    }