// Place all the styles related to the schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#info {
  float:left
}

#map-canvas {
  width: 50%;
  height: 400px;
  float: right;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}

div#graph1{
  float: left;
}

div#graph2 {
  float: right;
}